{sub_dirs, ["rel"]}.

{erl_opts, [{i, ["include"]}, {parse_transform, lager_transform}]}.

{port_specs,
 [{".*", "priv/lib/chat_overlay.so", ["c_src/chat_overlay.c"],
   [{env, [{"LDFLAGS", "$LDFLAGS -lcairo -lrt"}]}]},
  {".*", "priv/lib/chat_camera", ["c_src/chat_camera.c"],
   [{env, [{"CPATH", "$CPATH:/opt/vc/include/interface/vcos/pthreads:/opt/vc/include/interface/vmcs_host:/opt/vc/include/interface/vmcs_host/linux:/opt/vc/include"},
           {"LIBRARY_PATH", "$LIBRARY_PATH:/opt/vc/lib:/opt/vc/src/hello_pi/lib/vgfont"},
           {"LDFLAGS", "$LDFLAGS -lmmal_core -lmmal_util -lmmal_vc_client -lvcos -lbcm_host -lcairo"}]}]}
 ]}.

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager", {branch, "master"}}},
        {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.8.1"}}},
        {dnssd, ".*", {git, "https://github.com/andrewtj/dnssd_erlang.git", {tag, "v0.9"}}}
]}.
